.circular {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;

	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);

	margin-bottom: 20px;
	margin-top: 10px;
	margin: 15px auto;
	}

.angela {
	background: url(../img/angela.jpg) no-repeat;
	background-size: 150px;
}

.ashley {
	background: url(../img/ashley.jpg) no-repeat;
	background-size: 150px;
}

.megan {
	background: url(../img/megan.jpg) no-repeat;
	background-size: 150px;
}

.sam {
	background: url(../img/sam.jpg) no-repeat;
	background-size: 150px;
}

.button {
	display: block;
	width:100%;
	padding: 5px 10px;
	opacity:.9;
	margin-bottom:10px;
}

.button:hover {
	opacity:1;
}

#eugenics-tree {
	margin-top: 40px;
}

#interview-frame {
	width:100%;
	height: 400px;
}

#survey-frame {
	width: 100%;
	height: 800px;
}